In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('summer.csv').dropna()

In [3]:
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [5]:
df['City'].unique()

array(['Athens', 'Paris', 'St Louis', 'London', 'Stockholm', 'Antwerp',
       'Amsterdam', 'Los Angeles', 'Berlin', 'Helsinki',
       'Melbourne / Stockholm', 'Rome', 'Tokyo', 'Mexico', 'Munich',
       'Montreal', 'Moscow', 'Seoul', 'Barcelona', 'Atlanta', 'Sydney',
       'Beijing'], dtype=object)

In [6]:
len(df['City'].unique())

22

In [8]:
len(df['Year'].unique())

27

In [15]:
city = df['City'].unique()

# Cities with Number of Summer Olympics

In [21]:
for i in city:
    print(i , ":" ,len(df[df['City'] == i]['Year'].unique()))

('Athens', ':', 2)
('Paris', ':', 2)
('St Louis', ':', 1)
('London', ':', 3)
('Stockholm', ':', 1)
('Antwerp', ':', 1)
('Amsterdam', ':', 1)
('Los Angeles', ':', 2)
('Berlin', ':', 1)
('Helsinki', ':', 1)
('Melbourne / Stockholm', ':', 1)
('Rome', ':', 1)
('Tokyo', ':', 1)
('Mexico', ':', 1)
('Munich', ':', 1)
('Montreal', ':', 1)
('Moscow', ':', 1)
('Seoul', ':', 1)
('Barcelona', ':', 1)
('Atlanta', ':', 1)
('Sydney', ':', 1)
('Beijing', ':', 1)

In [12]:
len(df[df['City'] == 'London']['Year'].unique())

3

In [13]:
len(df[df['City'] == 'Paris']['Year'].unique())

2

In [14]:
len(df[df['City'] == 'St Louis']['Year'].unique())

1

In [27]:
temp = df[df['City'] == 'London']

In [33]:
print(len(temp[temp['Medal'] == 'Silver']))
print(len(temp[temp['Medal'] == 'Bronze']))
print(len(temp[temp['Medal'] == 'Gold']))

1183
1159
1221

In [40]:
temp = df[df['Gender'] == 'Women']

len(temp[temp['Medal'] == 'Gold'])

2786

In [43]:
df['Country'].unique()

array(['HUN', 'AUT', 'GRE', 'USA', 'GER', 'GBR', 'FRA', 'AUS', 'DEN',
       'SUI', 'ZZX', 'NED', 'BEL', 'IND', 'CAN', 'BOH', 'SWE', 'NOR',
       'ESP', 'ITA', 'CUB', 'ANZ', 'RSA', 'FIN', 'RU1', 'EST', 'TCH',
       'NZL', 'BRA', 'JPN', 'LUX', 'ARG', 'POL', 'POR', 'URU', 'YUG',
       'ROU', 'HAI', 'EGY', 'PHI', 'IRL', 'CHI', 'LAT', 'MEX', 'TUR',
       'PAN', 'JAM', 'SRI', 'KOR', 'PUR', 'PER', 'IRI', 'TRI', 'URS',
       'VEN', 'BUL', 'LIB', 'EUA', 'ISL', 'PAK', 'BAH', 'BWI', 'TPE',
       'ETH', 'MAR', 'GHA', 'IRQ', 'SIN', 'TUN', 'KEN', 'NGR', 'GDR',
       'FRG', 'UGA', 'CMR', 'MGL', 'PRK', 'COL', 'NIG', 'THA', 'BER',
       'TAN', 'GUY', 'ZIM', 'CHN', 'CIV', 'ZAM', 'DOM', 'ALG', 'SYR',
       'SUR', 'CRC', 'INA', 'SEN', 'DJI', 'AHO', 'ISV', 'EUN', 'NAM',
       'QAT', 'LTU', 'MAS', 'CRO', 'ISR', 'SLO', 'IOP', 'RUS', 'UKR',
       'ECU', 'BDI', 'MOZ', 'CZE', 'BLR', 'TGA', 'KAZ', 'UZB', 'SVK',
       'MDA', 'GEO', 'HKG', 'ARM', 'AZE', 'BAR', 'KSA', 'KGZ', 'KUW',
       'VIE', 'MKD', 'SCG', 'ERI', 'PAR', 'UAE', 'SRB', 'SUD', 'MRI',
       'TOG', 'TJK', 'AFG', 'BRN', 'GUA', 'GRN', 'TTO', 'BOT', 'MNE',
       'CYP', 'SGP', 'GAB'], dtype=object)

In [48]:
temp = df[df['Country'] == 'IND']

print(len(temp[temp ['Medal'] == 'Gold']), len(temp[temp ['Medal'] == 'Silver']) , len(temp[temp ['Medal'] == 'Bronze']))

(128, 18, 38)

In [49]:
temp = df[df['Country'] == 'HUN']

print(len(temp[temp ['Medal'] == 'Gold']), len(temp[temp ['Medal'] == 'Silver']) , len(temp[temp ['Medal'] == 'Bronze']))

(412, 316, 351)

In [52]:
for country in df['Country'].unique():
    
    temp = df[df['Country'] == country]
    print(country , len(temp[temp ['Medal'] == 'Gold']), len(temp[temp ['Medal'] == 'Silver']) , len(temp[temp ['Medal'] == 'Bronze']))

('HUN', 412, 316, 351)
('AUT', 21, 81, 44)
('GRE', 34, 62, 52)
('USA', 2235, 1252, 1098)
('GER', 452, 378, 475)
('GBR', 546, 621, 553)
('FRA', 408, 491, 497)
('AUS', 312, 405, 472)
('DEN', 150, 197, 160)
('SUI', 75, 167, 138)
('ZZX', 23, 15, 10)
('NED', 233, 279, 339)
('BEL', 91, 168, 152)
('IND', 128, 18, 38)
('CAN', 155, 232, 262)
('BOH', 0, 1, 6)
('SWE', 349, 367, 328)
('NOR', 209, 200, 145)
('ESP', 98, 227, 117)
('ITA', 476, 416, 404)
('CUB', 165, 129, 116)
('ANZ', 20, 4, 5)
('RSA', 30, 39, 37)
('FIN', 124, 120, 212)
('RU1', 1, 7, 9)
('EST', 9, 10, 20)
('TCH', 80, 144, 105)
('NZL', 85, 30, 75)
('BRA', 73, 173, 185)
('JPN', 213, 272, 303)
('LUX', 1, 1, 0)
('ARG', 69, 99, 91)
('POL', 106, 174, 231)
('POR', 4, 11, 18)
('URU', 44, 2, 30)
('YUG', 143, 174, 118)
('ROU', 157, 195, 288)
('HAI', 0, 1, 7)
('EGY', 7, 10, 11)
('PHI', 0, 2, 7)
('IRL', 9, 9, 12)
('CHI', 3, 9, 21)
('LAT', 3, 11, 6)
('MEX', 32, 23, 51)
('TUR', 38, 25, 23)
('PAN', 1, 0, 2)
('JAM', 31, 49, 47)
('SRI', 0, 2, 0)
('KOR', 158, 204, 167)
('PUR', 0, 2, 6)
('PER', 1, 14, 0)
('IRI', 16, 21, 24)
('TRI', 1, 8, 11)
('URS', 838, 627, 584)
('VEN', 2, 2, 8)
('BUL', 53, 143, 137)
('LIB', 0, 2, 2)
('EUA', 68, 100, 92)
('ISL', 0, 15, 2)
('PAK', 42, 45, 34)
('BAH', 13, 9, 5)
('BWI', 0, 0, 5)
('TPE', 3, 27, 14)
('ETH', 21, 8, 16)
('MAR', 6, 5, 11)
('GHA', 0, 1, 15)
('IRQ', 0, 0, 1)
('SIN', 0, 4, 0)
('TUN', 4, 2, 4)
('KEN', 28, 35, 30)
('NGR', 19, 38, 27)
('GDR', 329, 271, 225)
('FRG', 143, 167, 180)
('UGA', 2, 3, 2)
('CMR', 20, 1, 2)
('MGL', 2, 9, 13)
('PRK', 14, 12, 32)
('COL', 2, 6, 11)
('NIG', 0, 0, 1)
('THA', 7, 6, 12)
('BER', 0, 0, 1)
('TAN', 0, 2, 0)
('GUY', 0, 0, 1)
('ZIM', 18, 4, 1)
('CHN', 290, 296, 221)
('CIV', 0, 1, 0)
('ZAM', 0, 1, 1)
('DOM', 3, 2, 1)
('ALG', 5, 2, 8)
('SYR', 1, 1, 1)
('SUR', 1, 0, 1)
('CRC', 1, 1, 2)
('INA', 9, 16, 13)
('SEN', 0, 1, 0)
('DJI', 0, 0, 1)
('AHO', 0, 1, 0)
('ISV', 0, 1, 0)
('EUN', 92, 65, 66)
('NAM', 0, 4, 0)
('QAT', 0, 0, 4)
('LTU', 6, 5, 44)
('MAS', 0, 4, 4)
('CRO', 46, 34, 34)
('ISR', 1, 1, 5)
('SLO', 5, 7, 14)
('IOP', 0, 1, 2)
('RUS', 239, 238, 291)
('UKR', 41, 42, 90)
('ECU', 1, 1, 0)
('BDI', 1, 0, 0)
('MOZ', 1, 0, 1)
('CZE', 14, 22, 20)
('BLR', 17, 37, 59)
('TGA', 0, 1, 0)
('KAZ', 12, 17, 20)
('UZB', 5, 5, 10)
('SVK', 10, 12, 12)
('MDA', 0, 3, 3)
('GEO', 6, 5, 14)
('HKG', 1, 2, 1)
('ARM', 1, 2, 8)
('AZE', 6, 5, 15)
('BAR', 0, 0, 1)
('KSA', 0, 1, 5)
('KGZ', 0, 1, 2)
('KUW', 0, 0, 2)
('VIE', 0, 2, 0)
('MKD', 0, 0, 1)
('SCG', 0, 14, 0)
('ERI', 0, 0, 1)
('PAR', 0, 17, 0)
('UAE', 1, 0, 0)
('SRB', 1, 2, 28)
('SUD', 0, 1, 0)
('MRI', 0, 0, 1)
('TOG', 0, 0, 1)
('TJK', 0, 1, 2)
('AFG', 0, 0, 2)
('BRN', 0, 0, 1)
('GUA', 0, 1, 0)
('GRN', 1, 0, 0)
('TTO', 1, 4, 5)
('BOT', 0, 1, 0)
('MNE', 0, 14, 0)
('CYP', 0, 1, 0)
('SGP', 0, 0, 4)
('GAB', 0, 1, 0)

In [62]:
temp = df[df['Country'] == 'IND']

temp = temp[temp['Event'] == 'Hockey']

len(temp[temp['Medal'] == 'Gold'])

127